img{
    width: 30%;
    float: left;
    margin: 1.66%;
}
p{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 4px solid royalblue;
    width: 30%;
    
}
